<!-- <p>
  job-view works!
</p> -->
<mat-card color="primary" class="card-margin" >        
  <mat-card-header>
      <mat-card-title>
        <h2>{{job.jobTitle}}</h2>
      </mat-card-title>        
    </mat-card-header>
  <mat-list>
    <mat-list-item>
      <h4 class="line-margin" md-line>Salary: {{job.salary}}</h4>      
    </mat-list-item>
    <mat-list-item>
      <h4 class="line-margin" md-line>Description: {{job.jobDescription}}</h4>      
    </mat-list-item>

  </mat-list>
</mat-card>
