<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="text" matInput placeholder="Enter Your name" ngModule name="name">
    </mat-form-field>

    <mat-form-field>
      <input type="email" matInput placeholder="Enter Your email" ngModule name="email">
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Enter Your password" ngModule name="password">
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Student</mat-option>
        <mat-option value="option">Company</mat-option>
      </mat-select>
    </mat-form-field> -->

 <!--    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Student</mat-radio-button>
      <mat-radio-button value="2">Company</mat-radio-button>
    </mat-radio-group> -->

    <button mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
  </form>
</section>