<section>
  <div class="sec img-responsive img-thumbnail"></div>
  <div class="form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="text" matInput placeholder="Enter Your name" ngModel name="name" #nameInput="ngModel" required>
      <mat-error *ngIf="nameInput.hasError('required')">Field must not be empty</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="email" matInput placeholder="Enter Your email" ngModel name="email" required email #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Should be 6 character long">
      <input type="password" matInput placeholder="Enter Your password" ngModel name="password" required #pwInput="ngModel" minlength="6">
      <mat-hint align="end">{{pwInput.value?.length}} /6</mat-hint>
      <mat-error *ngIf="pwInput.hasError('required')">Field must not be empty</mat-error>
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Student</mat-option>
        <mat-option value="option">Company</mat-option>
      </mat-select>
    </mat-form-field> -->

   <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1"> Student </mat-radio-button>
      <mat-radio-button value="2"> Company </mat-radio-button>
    </mat-radio-group> 

    <button mat-raised-button color="primary" [disabled]="f.invalid">SignUp</button>
  </form>
</div>
</section>