mat-form-field{
    width: 300px;
}

.sec
{
    background-image:url("../../../../src/assets/images//slide5.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:418px;
    width: auto;
}