.sec
{
    background-image:url("../../assets/images/Strategy-y.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:1544px;
    width: 1000px;
    opacity: 0.8;
}

.text
{
    text-align: center;
    position: relative;
    top: 127px;
    font-size:40px;
    font-style:italic;
    color: rgb(71, 71, 107);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}